 :root {
     --color-1: #202124;
     --color-2: #414141;
     --color-3: #445760;
     --color-4: #F6F7F8;
     --color-4-darker: #e8ecf0;
     --color-5: rgb(89, 72, 185);
 }

 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: "Helvetica", "Arial", sans-serif;
 }

 body {
     color: var(--color-2);
     background-color: #EEEEEE;
     font-size: 16px;
     min-width: 280px;
 }

 h1 {
     font-size: 2em;
     text-align: center;
 }

 h2 {
     font-size: 1.6em;
 }

 .page {
     height: 1400px;
 }

 .menu-container {
     width: 100%;
     background-color: var(--color-1);
     position: relative;
     position: fixed;
     z-index: 2;
 }

 .menu {
     display: flex;
     list-style-type: none;
     height: 50px;
     justify-content: center;
     align-items: center;
 }

 .menu:first-child>li {
     flex-grow: 1;
     flex-basis: 0;

 }

 .menu:last-child>li {
    flex-grow: 1;
    flex-basis: 0;

 }

 .menu .portfolio-button {
     text-align: center;
 }

 .button,
 .dropdown-button {
     background-color: var(--color-1);
     border-radius: 5px;
     padding: 5px 5px;
     margin: 0px 15px;
     color: var(--color-4);
     text-decoration: none;
     font-size: 0.7em;
 }

 .header-svg {
     filter: invert(100%) sepia(31%) saturate(582%) hue-rotate(177deg) brightness(101%) contrast(94%);
 }

 .button:link,
 .button:visited {
     color: var(--color-4);
 }

 .button:hover,
 .button:visited:hover {
     background-color: var(--color-2);
 }

 .button:active,
 .button:visited:active {
     color: var(--color-1);
     background-color: var(--color-4-darker);
 }

 .button-white {
     padding: 10px 60px;
     margin: 10px 15px;
     background-color: var(--color-4-darker);
     color: var(--color-1);
     border-radius: 5px;
 }

 .button-white:hover {
     background-color: #c9d2db;
     color: var(--color-3)
 }

 .button-white:active {
     color: var(--color-4-darker);
     background-color: var(--color-1);
 }

 .starting-hero {
     display: flex;
     height: auto;
     min-height: 850px;
     width: 100%;
     background-color: var(--color-1);
     justify-content: center;
     align-items: center;
     background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #454694 75%);
     opacity: 0.95;
     flex-direction: column;
 }

 .hero-description {
     margin: 25px;
     margin-top: 95px;
     overflow: hidden;
     text-align: center;
     padding: 7px;
     color: var(--color-4-darker);
 }

 .hero-description h1 {
     margin: 40px 25px;
 }

 .hero-description h2 {
     margin: 35px 25px;
     margin-bottom: 40px;
     font-size: 1.4rem;
 }

 .starting-hero img {
     border-radius: 45px;
     border: 2px solid var(--color-1);
     margin: 50px;
     margin-top: 10px;
     width: 80%;
     height: auto;
     max-height: 450px;
     max-width: 302px;
 }

 .content-container {
     display: flex;
     background-color: var(--color-1);
     width: 100%;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     color: var(--color-4);
 }

 .content-container p {
     margin-top: 15px;
 }

 .content-container h1 {
     margin: 100px 35px 25px 35px;
 }

 .introduction-text {
     text-align: center;
     color: var(--color-4);
     margin: 15px 35px;
 }

 .projects-section-container {
     width: 100%;
 }

 .projects-section-container h1 {
     margin-top: 100px;
     text-align: center;
 }

 .projects-list {
     display: flex;
     list-style: none;
     width: 100%;
     justify-content: space-around;
     flex-wrap: wrap;
 }

 .card {
     margin: 20px 2%;
     padding: 0px;
     border-radius: 15px;
     width: 270px;
     height: 450px;
     position: relative;
     box-shadow: none;
     perspective: 150rem;
     background-color: var(--color-1);
 }

 .card:last-of-type {
     margin-bottom: 60px;
 }

 .card-side {
     transition: all 0.8s ease;
     transform-style: preserve-3d;
     transition: transform 0.8s;
     -webkit-transform-style: preserve-3d;
     -webkit-transition: -webkit-transform 0.8s;
     -o-transform-style: preserve-3d;
     -o-transition: -o-transform 0.8s;
     -moz-transform-style: preserve-3d;
     -moz-transition: -moz-transform 0.8s;
     backface-visibility: hidden;
     -moz-backface-visibility: hidden;
     -webkit-backface-visibility: hidden;
     -o-backface-visibility: hidden;
     position: absolute;
     width: 80%;
     top: 0;
     left: 0;
     border-radius: 15px;
     width: 270px;
     height: 450px;

 }

 .card-side.front {
     background-color: var(--color-3);
     color: var(--color-4);
 }

 .card-side.back {
     transform: rotateY(-180deg);
     background-image: linear-gradient(140deg, hsl(268, 40%, 51%, 80%), hsl(209, 63%, 30%, 50%), #0c6063);
 }

 .card:hover .card-side.front {
     transform: rotateY(180deg);
 }

 .card:hover .card-side.back {
     transform: rotateY(0deg);
 }

 .card h2 {
     color: var(--color-1);
     text-align: center;
     padding: 20px 5px 20px 5px;
     margin-top: 0px;
     margin: 0px;
     background-color: hsl(210, 21%, 93%, 60%);
     border-radius: 15px;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
     border-bottom: 1px solid var(--color-4-darker);
 }

 .card p {
     color: var(--color-4);
     margin-block-start: 0px;
     margin: 20px 15px;
     text-align: left;
 }

 .cardback-button {
     position: relative;
     bottom: 10px;
 }

 .content-container-toolbox {
     width: 100%;
     height: auto;
 }

 .toolbox-list {
     list-style: none;
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     align-content: stretch;
     width: 55%;
     max-width: 1030px;
     margin: 0px auto;
     margin-bottom: 200px;
 }

 .toolbox-list li {
     border: 2px solid var(--color-3);
     transition: all 0.8s ease-out;
     border-radius: 15px;
     margin: 20px;

 }

 .toolbox-list li:hover {
     border: 2px solid var(--color-5);
     box-shadow: 0px 0px 30px -17px var(--color-4-darker);
 }

 .toolbox-list li img {
     height: 80px;
     width: 80px;
     margin: 15px;
 }

 .contact-me-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     background-image: linear-gradient(140deg, hsl(231, 53%, 38%, 50%), hsl(204, 45%, 43%, 60%), hsl(266, 42%, 43%, 40%));
 }

 #contact-me {
     width: 100%;
     max-width: 600px;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 50px;

 }

 .contact-me-container h1 {
     margin-top: 100px;
 }

 .contact-me-container p {
     color: var(--color-4-darker);
 }

 .contact-me-container em {}

 .contact-me-container form {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0px 10px;
     width: 80%;
     margin-bottom: 50px;
 }

 .contact-me-container form label {
     width: 100%;
     margin-top: 15px;

 }

 .contact-me-container form label input {
     width: 100%;
     font-size: 1.2em;
     margin-top: 15px;
     border: 2px solid var(--color-2);
     border-radius: 5px;
     padding: 4px;
     background-color: var(--color-4-darker);
 }

 .contact-me-container form label textarea {
     width: 100%;
     height: 180px;
     border-radius: 5px;
     padding: 4px;
     border: 1px solid var(--color-1);
     background-color: var(--color-4-darker);
 }

 .contact-me-row {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     vertical-align: middle;
     width: 250px;

 }

 .my-contact-information {
     padding: 10px;
 }

 .contact-me-row:last-of-type {
     margin-bottom: 30px;
 }

 .contact-me-row img {
     height: 60px;
     width: 60px;
     padding: 10px;
 }

 .contact-me-row p {
     color: var(--color-4-darker);
     padding: 10px;
     padding-top: 10px;
     font-weight: bold;
 }

 @media only screen and (max-width: 699px) {

     .button,
     .dropdown-button {
         font-size: 1.4em;
         white-space: nowrap;
     }

     .dropdown {
         position: relative;
         text-align: end;
     }

     .dropdown>span {
         z-index: 2;
         position: relative;
         /* z-index is only is for elements which are positioned */
         cursor: pointer;
     }

     .dropdown-menu {
         display: none;
     }

     .dropdown:hover .dropdown-menu {
         display: flex;
         flex-direction: column;
         background-color: var(--color-1);
         padding-top: 50px;
         position: absolute;
         top: -12px;
         right: 0px;
         z-index: 1;
     }

     .dropdown-menu li {
         list-style: none;
         border-bottom: 1px solid var(--color-4);
         padding: 10px 5px;
         margin: 10px 10px;
         text-align: center;
         justify-self: center;
     }

     .dropdown-menu li:first-of-type {
         padding-top: 15px;
     }

     .styling-line {
         border-bottom: 1px solid var(--color-4);
         padding: 0px 0px 0px 0px;
     }

     .dropdown-menu li .social-button {
         align-self: center;
         padding-top: 20px;
         width: 30px;
     }
 }

 @media only screen and (min-width: 700px) {
     .dropdown-button {
         display: none;
     }

     .dropdown-menu {
         display: flex;
         flex: row;
         list-style-type: none;
     }

     .menu-container {
         padding: 0px 0px;
     }

     .menu {
         display: inline;
     }

     .menu .portfolio-button {
         float: left;
     }

     .menu li img,
     .menu li a {
         float: left;
         margin: 5px 10px;
     }

     .menu .button {
         height: 30px;
         display: flex;
         align-items: center;
     }

     .contact {
         margin-left: auto;
         float: right;
     }

     .social-button img {
         height: 20px;
     }

     .starting-hero {
         flex-direction: row;
     }

     .hero-description {
         border-radius: 45px;
         background-color: hwb(131 81% 5% / 0.2);
     }

     .starting-hero img {
         margin: auto 10% auto 10%;
         width: auto;
         height: 450px;

     }

     .introduction-text {
         width: 650px;
     }

     #contact-me {
         border-radius: 45px;
         background-color: hwb(192 23% 37% / 0.2);
         margin: 30px;
         padding: 40px;
     }

     .contact-me-container form label {
         width: 100%;
         margin-top: 15px;

     }

     .contact-me-container form label input {
         width: 100%;
         font-size: 1.2em;
         margin-top: 15px;
         border: 2px solid var(--color-2);
         border-radius: 5px;
         padding: 4px;
     }

     .contact-me-container form label textarea {
         width: 100%;
         height: 90px;
         border-radius: 5px;
         padding: 4px;
     }
 }