:root {
    --color-1: #202124;
    --color-2: #e8ecf0;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    color: var(--color-2);
    background-color: #1e1212;
    font-size: 1rem;
    min-width: 280px;
    text-align: center;
}

.highlight {
    background-color:rgb(104, 55, 112);
}

.error {
    background-color: lightcoral;
    border: red;
}
h1, p {
    margin: 10px;
    padding: 10px;
}